@import "../../styles/vars.scss";

.navigator {
  position: fixed;
  bottom: 16px;
  width: 680px;
  right: 282px;
  background: $active-state-color;
  border-radius: 5px;
  padding: 16px 24px;
  font-size: 13px;
  box-shadow: 0 6px 5px rgba(0,0,0,.45);
  color: #ffffff;
  display: flex;
  z-index: 10;
  
  &.centered {
    right: calc(50vw - 340px - 24px);
  }

  .links {
    margin: 0 12px;
    display: flex;
    justify-content: space-around;
    flex-grow: 1;

    .link {
      color: $primary-color;
      font-weight: 500;
      display: flex;
      align-items: center;
      border-bottom: none;
    }
  }
}

@media (max-width:961px) {
  .navigator {
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    width: calc(100vw - 24px);
    height: 50px;
    border-radius: 0;
    align-items: center;
    padding: 0 12px;

    .link {
      border-bottom: none;
      color: rgba(255,255,255,.5);
      line-height: 1;
      flex-grow: 1;
      width: calc(100% / 6);
      justify-content: space-between;
      display: flex;
      align-items: center;
      flex-direction: column;
      font-size: 9px;

      .icon {
        font-size: 24px;
        margin-bottom: 5px;
      }
    }
  }
}
