@import "../../styles/vars.scss";
@import "../../styles/root.scss";

.color-picker {
  height: calc(100%);
  width: calc(100%);
  user-select: none;

  .picker-body {
    height: 80%;
    margin-bottom: 5%;
    position: relative;

    .saturation-handle {
      border-radius: 50%;
      width: 10px;
      height: 10px;
      border: 2px solid #ffffff;
      position: absolute;
      top: 0;
      right: 0;
      cursor: grab;

      &::before {
        content: " ";
        position: absolute;
        top: -3px;
        left: -3px;
        bottom: -3px;
        right: -3px;
        border-radius: 50%;
        border: 1px solid #000000;
      }
    }
  }
  .slider-component {
    display: grid;
    grid-template-columns: 120px auto;
    margin: 24px 46px;
    align-items: center;

    .slider-label {
      font-size: 14px;
      color: #ffffff;
      display: block;
      margin-right: 1.5rem;
      line-height: 1;
    }
    .slider-container {
      position: relative;
      height: 6px;
      .slider-handle {
        margin-top: -2.5px !important;
      }
      .slider {
        height: 6px;
        border-radius: 6px;
        position: relative;
        cursor: grab;

        &.main-color {
          background: $main-color-gradient;
        }
      }
    }
  }

  .selected-info-container {
    display: flex;
    align-items: center;
    margin: 24px 46px;

    .hsl {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .label {
      color: #ffffff;
      width: 120px;
    }
    .info {
      color: rgba(255,255,255,0.6);
    }
  }

  .color-hex-editor {
    .hex-input {
      @extend .text-field;
      max-width: 120px;
      text-align: center;
    }
  }
  

  .slider-handle {
    width: 6px;
    height: 6px;
    border: solid #fff 3px;
    border-radius: 50%;
    cursor: grab;
    outline: none;
  }
}

@media (max-width:961px) {
  .color-picker {
    height: calc(80vh - 15vh - 51px);

    .picker-body {
      height: 70%;
    }

    .slider-component {
      grid-template-columns: auto;
      .slider-label {
        margin-bottom: 8px;
      }
    }

    .selected-info-container {
      display: block;

      .label {
        width: auto;
      }
      .hsl {
        flex-direction: row-reverse;

        input {
          width: 90px !important;
        }
      }
    }
  }
}