.page-card {
  background-color: rgba(0,0,0,.6);
  padding: 32px;
  border-radius: 5px;
  margin: 12px 0;

  .title {
    color: #ffffff;
    font-size: 38px;
    font-weight: 700;
  }

  .meta {
    display: flex;
    color: rgba(255,255,255,.6);
    .author {
      margin-left: 16px;
    }
  }
}

@media (max-width:961px) {
  .page-card {
    padding: 32px 8px;
  }
}