.saved-palettes {
  height: 90vh;
  width: 100%;
  overflow: auto;

  .title {
    color: #D4E9EE;
    font-size: 24px;
    margin: 16px 0 0 24px;
  }

  .loading-hint {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255,255,255,.6);
    font-size: 24px;
  }
  .palettes-container {
    width: calc(100% - 32px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 16px;
    padding-top: 0;

    .palette-card {
      background: rgba(255,255,255,.05);
      border-radius: 5px;
      height: 240px;
      display: grid;
      grid-template-rows: 7fr 3fr;
      margin: 16px 8px;

      .palette {
        display: flex;

        .palette-color {
          flex-grow: 1;
          cursor: pointer;
          transition: 25ms all ease;

          &:hover {
            border: 2px solid #ffffff !important;
          }

          &:first-child {
            border-top-left-radius: 5px;
          }
          &:nth-last-child(2) {
            border-top-right-radius: 5px;
          }
        }
      }
      .details {
        background-color: #313148;
        border-radius: 0 0 5px 5px;
        color: rgba(255,255,255,.6);
        display: flex;
        align-items: center;
        padding: 0 16px;

        .info {
          flex-grow: 1;

          .name {
            font-size: 17px;
            margin-bottom: 8px;
            color: rgba(255,255,255,.8);
          }
        }

        .delete-btn {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}

@media (max-width:961px) {
  .saved-palettes {
    & > .button {
      margin: auto auto;
    }

    .palettes-container {
      grid-template-columns: 1fr;
      padding: 8px;
      width: calc(100% - 16px);

      .palette-card {
        margin: 8px;
      }
    }
  }
}
