@import "../root.scss";
@import "../vars.scss";

.faq-admin-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 4fr 8fr;

  .faq-card-list {
    background: rgba(0,0,0,.24);
    padding: 16px 32px;
    height: calc(100% - 32px);
    overflow-y: auto;

    .title {
      margin: 12px 0;
      color: #ffffff;
      font-size: 36px;
      font-weight: 900;
    }

    .loading-alert {
      color: rgba(255,255,255,0.6);
      font-size: 22px;
      font-weight: 500;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .progress {
        width: 50%;
      }
    }
  }

  .faq-card-content {
    position: relative;
    padding: 32px 256px;
    height: calc(100vh - 64px);
    overflow-y: auto;

    .title-input {
      font-size: 15px;
      font-weight: 500;
      margin-top: 32px;
      width: 70%;
    }

    .faq-title {
      color: #ffffff;
      font-weight: 700;
      font-size: 28px;
      padding: 36px 22px;
      border-radius: 5px;
      background: url("/images/banner.png");
      background-size: cover;
      background-position-y: bottom;
      margin-bottom: 22px;
      mix-blend-mode: difference;
    }

    .tag-control {
      display: flex;
      align-items: center;
      position: relative;

      .faq-tag {
        .tag-input {
          font-family: inherit;
          font-size: inherit;
          background: transparent;
          font-weight: inherit;
          color: inherit;
          width: 100%;
          border: none;
          outline: none;
          text-align: center;
        }
      }

      .change-color-control {
        position: relative;
        span {
          color: $primary-color;
          margin-left: 16px;
          cursor: pointer;
        }
      }
      .popover {
        position: absolute;
        bottom: -250px;
        z-index: 2;

        .backdrop {
          position: fixed;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
        }
      }
    }

    .text-field {
      padding: 10px 16px;
    }

    .editor-container {
      margin-top: 32px;
      margin-bottom: 10vh;

      .editor {
        font-family: inherit;
        font-size: 18px;
        background-color: rgba(0,0,0,.2);
        line-height: 2;
        color: rgba(255,255,255,.6);
        border-radius: 5px;
        width: calc(100% - 24px);
        max-width: calc(100% - 24px);
        min-width: calc(100% - 24px);
        padding: 12px;
        border: none;
        outline: none;
        margin-bottom: 18px;
      }

      .actions {
        display: flex;
        align-items: center;
        & > .button {
          margin-left: 14px;
        }
      }
    }
  }
}