@import "./root.scss";

.index-container {
  display: grid;
  grid-template-columns: 8fr 5fr;

  .hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    padding-left: 10vw;

    background-color: #F6A4E7;
    background-image: url("../public/images/pawel-czerwinski-unsplash.jpg");
    background-size: cover;
    position: relative;
    background-position: center center;

    .title {
      color: #36393F;
      font-size: 96px;
      margin: 18px 0;
      display: flex;
      align-items: center;

      .mealie {
        height: 96px;
        width: auto;
        margin-right: 16px;
      }
    }
    .subtitle {
      color: #313148;
      font-size: 18px;
      line-height: 160%;
      width: 60%;
      margin-bottom: 16px;
    }

    .join-button {
      background-color: $color-yellow;
      color: #232323;
      padding: 14px;
      border-radius: 5px;
      text-decoration: none;
      font-size: 24px;
      display: inline-block;
      border-bottom: none;
    }
    .photo-credit {
      color: #000000d2;
      position: absolute;
      bottom: 6px;
      left: 6px;
      font-size: 12px;
    }
  }

  .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .nav-link {
      color: $primary-color;
      font-weight: 600;
      font-size: 24px;
      margin: 42px 0;
      display: flex;
      align-items: center;
      border-bottom: none;

      .external-link-icon {
        margin-left: .5rem;
        font-size: 18px;
      }

      .icon {
        margin-right: 1rem;
        font-size: inherit;

        &.faq {
          color: $color-yellow;
        }
        &.medal {
          color: $color-green;
        }
        &.palette {
          color: $color-purple;
        }
        &.map {
          color: #EE761E;
        }
        &.rules {
          color: #C10000;
        }
      }
    }
  }
}

@media (max-width:961px) {
  .index-container {
    grid-template-columns: 1fr;

    .hero {
      width: 90vw;
      padding-left: 10vw;
      padding-top: 5vh;
      height: 85vh;
      justify-content: flex-start;

      .title {
        font-size: 48px;
        display: block;
      }
      .subtitle {
        width: 90%;
      }
    }

    .links {
      position: fixed;
      top: 50vh;
      left: 0;
      height: 99vh;
      padding-top: 1vh;
      background: $background-primary;
      width: 100vw;
      border-radius: 22px 22px 0 0;
      justify-content: flex-start;
    }
  }
}
