@import "./root.scss";
@import "./vars.scss";

.picker-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 5fr 8fr;

  .color-picker-container {
    background: rgba(0,0,0,.24);
    position: relative;
    z-index: 1;

    .actions {
      position: absolute;
      bottom: 12px;
      left: 0;
      right: 0;
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
  .content {
    padding: 32px;
    height: calc(100vh - 64px);
    overflow-y: auto;
    position: relative;

    .roles-display {
      margin-top: 24px;
      display: grid;
      grid-template-columns: 6fr 4fr;
      color: rgba(255,255,255,.6);

      .check-container {
        display: flex;

        .contrast-label {
          display: none;
          visibility: hidden;
        }

        & > * {
          flex-grow: 1;
        }
      }

      & > * {
        margin: 8px 0;
      }

      .selected {
        box-shadow: rgba(0,0,0,.8) 0 6px 10px;
        background-color: $active-state-color;
      }

      .icon-container {
        display: flex;
        align-items: center;
        justify-content: center;

        .status-icon {
          font-size: 22px;
          &.check {
            color: $color-green;
          }
          &.warn {
            color: $color-red;
          }
        }
      }

      .col-header {
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;

        &.input-header {
          justify-content: flex-end;

          .text-field {
            margin-left: 16px;
          }
        }
      }
    }

    .actions {
      margin-top: 16px;
      display: flex;
    }

    .backdrop {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,.4);
      z-index: 7;
    }

    .image-panel {
      position: fixed;
      width: calc(60vw - 32px);
      // left: calc(((100vw / 13) * 5) + 32px);
      right: calc(20vw - 16px);
      height: calc(50vh - 32px);
      border-radius: 5px 5px 0 0;
      background-color: #31313E;
      animation: panel-pop-out 200ms ease;
      animation-fill-mode: forwards;
      box-shadow: 0 4px 5px rgba(0,0,0,.4);
      padding: 16px;
      display: flex;
      align-items: flex-start;

      img {
        border-radius: 5px;
        box-shadow: 0 4px 5px rgba(0,0,0,.4);
        display: block;
      }
      
      .info-container {
        margin: 8px 32px;
        max-width: 33%;

        .info-header {
          font-size: 32px;
          font-weight: 600;
          color: rgb(212, 233, 238);
        }

        .info-content {
          font-weight: 400;
          color: rgba(255,255,255,.6);
          line-height: 1.7;
          margin-top: 16px;

          .button {
            display: inline-block;
            margin: 8px 0;
            line-height: 1.5;
          }
          a {
            display: inline-block !important;
          }
        }
      }
    }
  }
}
@keyframes panel-pop-out {
  from {
    bottom: -50vh;
  }
  to {
    bottom: 0;
  }
}

@media (max-width:961px) {
  .picker-container {
    grid-template-columns: auto;
    height: 100vh;
    overflow: unset;

    .color-picker-container {
      position: fixed;
      background: #101015;
      top: 60vh;
      width: 100vw;
      height: auto;
      overflow: hidden;
      // display: none;
      // height: 100vh !important;

      .actions {
        display: none;
        visibility: hidden;
      }

      .picker-tab-container {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 16px;

        .picker-tab {
          background: transparent;
          border: none;
          outline: none;
          font-size: 18px;
          font-family: inherit;
          color: rgba(255,255,255,.6);
          border-bottom: 3px solid rgba(255,255,255,.6);
          padding: 0 8px 8px 8px;

          &.selected {
            color: rgba(255,255,255,1);
            border-bottom-color: $primary-color;
          }
        }
      }
    }
    .content {
      padding: 16px;
      padding-bottom: 40vh;
      height: auto;
      overflow: auto;

      .roles-display {
        grid-template-columns: 1fr;

        & > * {
          margin: 0;
        }

        .check-container {
          border-radius: 0 0 5px 5px;
          background: rgba(255,255,255,.1);
          margin-bottom: 12px;
          padding: 12px;

          &.header {
            display: none;
            visibility: hidden;
          }

          .contrast-label {
            display: inline-block;
            visibility: visible;
            margin-left: 8px;
            color: rgba(255,255,255,.6);
          }
        }
      }
      .col-header {
        margin-bottom: 16px;
        
        &.input-header {
          justify-content: flex-start !important;
        }
      }
    }

    .image-panel {
      height: calc(90vh - 32px) !important;
      width: calc(95vw - 32px) !important;
      left: calc(2.5vw);
      flex-direction: column;

      .info-container {
        max-width: 100% !important;
        width: 100% !important;
        margin: 8px 0 !important;
        display: flex !important;
        flex-direction: column;
        align-items: center;
        
        .info-header {
          font-size: 24px !important;
        }

        .info-content {
          text-align: center;
        }

        .flex {
          .button {
            font-size: 10px;
          }
        }
      }
    }
  }
}
