@import "./root.scss";
@import "./vars.scss";

.picker-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 5fr 8fr;

  .color-picker-container {
    background: rgba(0,0,0,.24);
    position: relative;

    .context-change-text-button {
      @extend .text-button;
      position: absolute;
      bottom: 22px;
      width: 200px;
      text-align: center;
      left: calc(50% - 100px);
    }
  }
  .content {
    padding: 32px;
    height: calc(100vh - 64px);
    overflow-y: auto;
    position: relative;

    .roles-display {
      margin-top: 24px;
      display: grid;
      grid-template-columns: 6fr 2fr 2fr;
      color: rgba(255,255,255,.6);

      & > * {
        margin: 8px 10px;
      }

      .selected {
        box-shadow: rgba(0,0,0,.8) 0 6px 10px;
        background-color: $active-state-color;
      }

      .icon-container {
        display: flex;
        align-items: center;
        justify-content: center;

        .status-icon {
          font-size: 22px;
          &.check {
            color: $color-green;
          }
          &.warn {
            color: $color-red;
          }
        }
      }

      .col-header {
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;

        &.input-header {
          justify-content: flex-end;
          .text-field {
            margin-left: 16px;
          }
        }
      }
    }
  }
}