@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700;900&display=swap');
@import "./vars.scss";

body {
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "SF Pro Text", 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: $background-primary;
  font-size: 13px;
  letter-spacing: -.087px;
}

.text-button {
  font-family: inherit;
  font-size: 15px;
  color: $primary-color;
  font-weight: 500;
  line-height: 1;
  border-radius: 5px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.text-field {
  border: none;
  background: rgba(0,0,0,.5);
  border-radius: 5px;
  outline: none;
  font-family: inherit;
  font-size: 14px;
  color: rgba(255,255,255,0.6);
  padding: 8px;
  min-width: 120px;
}

.progress {
  position: relative;
  height: 4px;
  display: block;
  width: 100%;
  background-color: lighten($primary-color, 30%);
  background-clip: padding-box;
  margin: 0.5rem 0 1rem 0;
  overflow: hidden;
  .determinate {
    position: absolute;
    background-color: inherit;
    top: 0;
    bottom: 0;
    background-color: $primary-color;
    transition: width .3s linear;
  }
  .indeterminate {
    background-color: $primary-color;
    &:before {
      content: '';
      position: absolute;
      background-color: inherit;
      top: 0;
      left:0;
      bottom: 0;
      will-change: left, right;
      // Custom bezier
      animation: progress-indeterminate 1.5s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
    }
    &:after {
      content: '';
      position: absolute;
      background-color: inherit;
      top: 0;
      left:0;
      bottom: 0;
      will-change: left, right;
      // Custom bezier
      animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
      animation-delay: 1.15s;
    }
  }
}

.button {
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0,0,0,.5);
  font-weight: 500;
  color: rgba(0,0,0,.8);
  border-radius: 5px;
  padding: 6px 12px;
  background-color: $primary-color;

  &.text {
    background-color: transparent;
    color: $primary-color;
    box-shadow: none;

    &:disabled {
      background: transparent;
      color: rgba(255,255,255,0.5);
    }
  }

  &.small {
    font-size: 12px;
    padding: 4px 8px;
  }

  &.warn {
    color: #ffffff;
    background-color: $color-red;
  }
  &.warn.text {
    color: $color-red;
    background-color: transparent;
  }

  &.jumbo {
    padding: 12px 22px;
    font-size: 18px;
  }

  &:disabled {
    background: rgba(255,255,255,.3);
    color: #ffffff;
    cursor: default;
  }
}

.flex-grow {
  flex-grow: 1;
}
.flex {
  display: flex;
  &.v-center {
    align-items: center;
  }
}

.link {
  color: $primary-color;
  text-decoration: none;
  border-bottom: 2px solid $primary-color;
  cursor: pointer;
}

@keyframes progress-indeterminate {
  0% {
    left: -35%;
    right:100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}

a {
  text-decoration: none;
  color: $primary-color;
  border-bottom: 2px solid $primary-color;
}

.text-hint {
  color: rgba(255,255,255,.5);
  font-size: 11px;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  60% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(100%);
  }
}
