@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');
@import "./vars.scss";

body {
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "SF Pro Text", 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: $background-primary;
}

.text-button {
  font-family: inherit;
  font-size: 15px;
  color: $primary-color;
  font-weight: 500;
  line-height: 1;
  border-radius: 5px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.text-field {
  border: none;
  background: rgba(0,0,0,.5);
  border-radius: 5px;
  outline: none;
  font-family: inherit;
  font-size: 14px;
  color: rgba(255,255,255,0.6);
  padding: 8px;
  min-width: 120px;
}